Q1: The system shall simulate a 2-player, turn-based game of battleship
Q2: The size of the players' grid and variety of battleships shall be configurable with global variables
Q3: Before the game begins, the players each arrange all their battleships on their own grid
Q4: Battleships are 1 tile wide and approx. 3-6 tiles long
Q5: A turn is used to guess the pressence of the opponents battleships at a specific position (eg. B7)
Q6: A player is required to answer correctly: whether the guess was a hit or miss and wether the battleship was sunken 
Q7: A player will keep track of the hit/miss results of their previous guesses on a grid, and the number of ships they have sunken
Q8: A game-controller manages when a player shall take a turn, observes the game and eventually announces a winner.
Q9: It shall be possible to configure the size of the board
Q10: The players shall use a strategy for arranging the battleships in the beginning
Q11: The players shall use a strategy for making guesses throughout the game
Q12: The arrangement strategy and guessing strategy shall be configurable in the simulation